/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
  *= require bootstrap-datepicker

 */


 html {
	position: relative;
	min-height: 100%;
}
body {
	/* Отступ снизу, по высоте футера */
	margin-bottom: 120px !important;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Фиксированная высота футера */
	height: 2.5%;
	background-color: #008A99;
    color: white;
    padding-right: 1em;
    vertical-align: middle;
    text-align: right;
}

#user-list {
	width: 100%;
}
.task {
	float: right;
	max-width: 178px;
}
.input-group {
	width: 100%;
}
.text-size {
	font-size: medium;
}
#cont {
	padding-left: 10px;
	padding-right: 17px;
}

.block-btn {
	/*padding-right: 2px; */
	margin-left: -11px;
}

.add_company {
	max-width: 600px;
}
.add_company_author {
	min-width: 418px;
}
.add_company_user {
	min-width: 344px;
}
.date-width {
	min-width: 299px;
}
