.entry_field {
	width: auto;
}

.login_form {
	margin-top: 100px;
	background-color: white;
	padding-bottom: 30px;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 2px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.login_form h2 {
	text-align: center;
}
.render_login_form {
	text-align: center;	
}
.entry_btn {
	background-color: #00ABBD;
	color: white;
	margin-left:auto;
}
.entry_btn:hover {
	background-color: #00ABBD;
	color: #E8E8E8;
}
